* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

.header {
  display: flex;
  gap: 32px;
  align-items: center;
  height: 90px;
}

.header_navigation {
  width: 623.77px;
}

.h_navigations {
  display: flex;
  list-style: none;
  padding: 20px;
  gap: 20px;
}

.h_navigation a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.64px;
  letter-spacing: 1.2960000038146973px;
  color: #221437;
  text-transform: uppercase;
}

.h_navigation a:hover {
  color: blue;
}

.header_btn {
  width: 435.16px;
  display: flex;
  gap: 11px;
  align-items: center;
}

.h_log_in {
  width: 140px;
}

.h_log_in a {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.64px;
  letter-spacing: 1.2960000038146973px;
  color: #221437;
  text-decoration: none;
}

.h_log_in a:hover {
  color: blue;
}

.h_btn button {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: #eff7fd;
  padding: 15px 30px;
  background-color: #793cfb;
  border-radius: 30px;
  text-wrap: nowrap;
  border: 5px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.h_btn button:hover {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: #793cfb;
  background-color: #ffffff;
  border: 5px solid #793cfb;
  transition: 0.5s;
}

/* MAIN SECTION */
.main_section {
  background-image: url(./images/IMAGE.png);
  margin-top: 60px;
  display: flex;
}

.main_section_imgback {
  margin-top: -60px;
}

.main_section_title {
  width: 770.39px;
  height: 570px;
}

.main_section_title h1 {
  font-family: Poppins;
  font-size: 99px;
  font-weight: 400;
  line-height: 99px;
  letter-spacing: 0.979200005531311px;
  text-align: center;
  color: #221437;
}

.main_section_title h2 {
  font-family: Roboto;
  font-size: 95px;
  font-weight: 400;
  line-height: 99px;
  letter-spacing: 0.979200005531311px;
  text-align: center;
  color: #221437;
  margin-top: 5px;
  margin-bottom: 60px;
}

.main_section_title p {
  width: 413px;
  height: 135px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  color: #221437;
  margin: 0 auto;
}

.main_section_imgback {
  margin-top: 40px;
}

.main_section_imgback2 {
  margin-top: 170px;
}

.main_section_form {
  text-align: center;
  margin-top: -300px;
}

.main_section_form input[type="email"] {
  padding: 20px 198px 20px 26px;
  border: none;
  box-shadow: 0px 4px 10.8px 0px #0000000d;
  border-radius: 30px;
}

.send_btn {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: #eff7fd;
  padding: 15px 30px;
  background-color: #793cfb;
  border-radius: 30px;
  text-wrap: nowrap;
  border: 5px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 30px;
}

.send_btn:hover {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: #793cfb;
  background-color: #ffffff;
  border: 5px solid #793cfb;
  transition: 0.5s;
}

.img_main_section_user {
  text-align: center;
  margin-top: 13px;
}

/* PERSONALIZED SECTION */

.personalized {
  margin-top: 100px;
  margin-bottom: 30px;
}

.personalized_boxs {
  width: 1152px;
  height: 765.27px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 118px;
}

.personalized h1 {
  font-family: Poppins;
  font-size: 58px;
  font-weight: 400;
  line-height: 57.6px;
  text-align: center;
  color: #221437;
  margin-bottom: 30px;
}

.personalized_mini_box {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: center;
  width: 414px;
  height: 135px;
  border-radius: 18px;
  background-color: #fafafa;
  margin-top: 7px;
}

.personalized_mini_box .line {
  width: 77px;
  height: 12px;
  background-color: #e9eff1;
  border-radius: 10px;
  margin-top: 5px;
}

.personalized_mini_box p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.72px;
  color: #221437;
}

.mini_box_img .man2 {
  margin-right: -20px;
  margin-left: -20px;
}

.personalized_head {
  display: flex;
  background-color: #fffeff;
  padding: 10px 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  height: 46.74px;
}

.head_colors {
  display: flex;
  gap: 5px;
  margin-right: 15px;
  align-items: center;
}

.head_colors .color_red {
  width: 6.6px;
  height: 6.59px;
  background-color: #ff7e76;
  border-radius: 50%;
  cursor: pointer;
}

.head_colors .color_yellow {
  width: 6.6px;
  height: 6.59px;
  background-color: #f7e177;
  border-radius: 50%;
  cursor: pointer;
}

.head_colors .color_green {
  width: 6.6px;
  height: 6.59px;
  background-color: #b4cf80;
  border-radius: 50%;
  cursor: pointer;
}

.head_arrows {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 45px;
}

.head_arrows i {
  cursor: pointer;
}

.big_box_search {
  padding: 6px 110px;
  background-color: #f3f8fd;
}

.big_box_search p {
  color: #3d2650;
  text-align: center;
}

.big_box_plus {
  display: flex;
  align-items: center;
  margin-left: 140px;
}

.big_box_plus i {
  cursor: pointer;
}

.personalized_select {
  padding: 27px 100px;
  background-color: #793cfb;
}

.personalized_select label {
  color: #fffeff;
  margin-right: 15px;
}

.personalized_select select {
  background-color: #8a54ff;
  color: #fffeff;
  padding: 13px 246px 9px 15px;
  border: none;
  border-radius: 10px;
}

.personalized_card {
  background: #fffeff;
  width: 472.13px;
  height: 350px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #ecf4f6;
  padding-left: 15px;
  padding-top: 13px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.personalized_card h3 {
  color: #3d2650;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.line_card {
  border: 1px solid #ecf4f6;
  width: 490px;
  margin-top: 12px;
  margin-left: -15px;
}

.line_bottom_p {
  color: #221437;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
  margin-top: 32px;
}

.line_bottom {
  margin: 0 auto;
  background-color: #f6fafd;
  width: 413.48px;
  height: 6.59px;
  border-radius: 10px;
  margin-bottom: 18px;
}

.line_bottom_green {
  width: 47%;
  height: 100%;
  background-color: #b4cf80;
  border-radius: 10px;
}

.personalized_card_info {
  padding-left: 15px;
  display: flex;
  gap: 200px;
  justify-content: center;
}

.card_info_1 p {
  color: #221437;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 25.6px;
  margin-bottom: 15px;
}

.line_circle {
  display: flex;
}

.line_line {
  width: 79.91px;
  height: 5.13px;
  background-color: #e8f1f4;
  border-radius: 10px;
}

.custom-radio {
  padding-bottom: 7px;
}

.custom-radio label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
}

.custom-radio input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #66cc66;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.custom-radio input[type="checkbox"]:checked {
  background-color: #66cc66;
  border-color: #66cc66;
}

.custom-radio input[type="checkbox"]:checked::before {
  content: "\2713"; /* Bu yerda ptichka belgisi qo'llanadi */
  position: absolute;
  color: white;
  font-size: 16px;
  top: -2px;
  left: 3px;
}

.personalized_box2_card_info {
  width: 472.13px;
  height: 169.24px;
  border: 1px solid #ecf4f6;
  margin-top: 22px;
  margin-left: -5px;
}

.personalized_box2_card_info h3 {
  color: #3d2650;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 16px;
}

.personalized_big_box {
  width: auto;
  height: 700px;
}

.personalized_box2_card_info img {
  position: relative;
  right: 430px;
  bottom: 50px;
}

.box2_card_info_line {
  width: 472.13px;
  border: 1px solid #ecf4f6;
  align-items: center;
}

.box2_ci {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  margin-top: 28px;
}

.box2_card_info_number {
  color: #3d2650;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 25.6px;
}

.box2_card_info_line_of_number {
  width: 0.73px;
  height: 80.59px;
  background: #ecf4f6;
}

/* LOGO SECTION */
.logo_section {
  margin-top: 400px;
}

.logo_section h1 {
  font-family: Roboto;
  font-size: 58px;
  font-weight: 400;
  line-height: 57.6px;
  text-align: center;
  width: 976px;
  color: #221437;
  margin: 0 auto;
  margin-bottom: 200px;
}

.logo_section h1 span {
  font-family: Roboto;
  font-size: 58px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  color: #221437;
}

.logo_section_logos {
  margin-bottom: 288px;
}

.first_logos_ls {
  display: flex;
  gap: 139px;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.twice_logos_ls {
  display: flex;
  gap: 220px;
  align-items: center;
  justify-content: center;
}

/* CUSTOMERS SECTION */
.customers_section {
  position: relative;
  z-index: 2;
  margin-bottom: 850px;
}

.customers_section h1 {
  z-index: 2;
  font-family: Roboto;
  font-size: 81px;
  font-weight: 400;
  line-height: 81px;
  color: #221437;
  position: absolute;
  left: 300px;
  top: -20px;
}

.customers_section h2 {
  z-index: 2;
  font-family: Roboto;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  color: #221437;
  position: absolute;
  left: 450px;
  top: 70px;
}

.customers_section h2 span {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  color: #221437;
}

.customers_bird {
  background-image: url(./images/bird.png);
  width: 115px;
  height: 115px;
  top: -95.47px;
  left: 1041px;
  z-index: 2;
  position: absolute;
  background-repeat: no-repeat;
}

.customers_back_image {
  background-image: url(./images/cloud.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 1132px;
  position: absolute;
  top: -247.47px;
  z-index: 1;
}

.customers_back_2 {
  background-image: url(./images/barg.png);
  background-repeat: no-repeat;
  width: 1484.91px;
  height: 573.94px;
  position: absolute;
  top: 380px;
  z-index: 1;
}

.customers_boxs {
  position: relative;
  z-index: 2;
  display: flex;
}

.customer_box {
  position: absolute;
  top: 306.14px;
  left: 140px;
  width: 307px;
}

.customer_box h3 {
  color: #ffffff;
  padding: 18px 0;
  text-align: center;
  background-color: #793cfb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.customer_img {
  text-align: center;
  background-color: #ffffff;
  padding-top: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.c_images {
  margin-bottom: 17px;
}

.customer_img .c_man1 {
  margin-left: -20px;
}

.customer_img .c_man2 {
  margin-left: -20px;
}

.customer_img h4 {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 400;
  line-height: 27.72px;
  color: #000000;
  margin-bottom: 6px;
}

.customer_img .customer_line {
  width: 60.72px;
  height: 8.56px;
  background-color: #dfeaee;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.customer_img h5 {
  display: inline-block;
  padding: 11px 9px;
  background-color: #eff7fd;
  color: #000000;
  border-radius: 10px;
  margin-bottom: 18px;
}

.customer_comment p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: #221437;
  width: 258px;
  margin-top: 56px;
}

.move1 {
  position: absolute;
  left: 570px;
  top: 200px;
}

.move2 {
  position: absolute;
  left: 1000px;
  top: 350px;
}

/* CURTOMER SECTION 2 */

.customers_section2 h1 {
  width: 870px;
  font-family: Poppins;
  font-size: 81px;
  font-weight: 400;
  line-height: 81px;
  text-align: center;
  margin: 0 auto;
  color: #221437;
  span {
    font-family: Poppins;
    font-size: 81px;
    font-weight: 700;
    line-height: 81px;
    text-align: center;
  }
}

.customers_section2 p {
  width: 732px;
  font-family: Poppins;
  font-size: 31px;
  font-weight: 400;
  line-height: 38.25px;
  text-align: center;
  color: #221437;
  margin: 57px auto;
}

.customers_section2 .back_image_2 {
  background-image: url(./images/salto.png);
  width: 672px;
  height: 363px;
  padding: 34.99px 40.57px 16.73px 148.58px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-right: 150px;
}

/* UNLOCK BOXS SECTION */
.unlock_sectoin {
  margin-top: 115px;
  margin-bottom: 200px;
}

.unlock_image {
  background-image: url(./images/IMAGE.png);
  width: 1440px;
  height: 1414px;
  background-repeat: no-repeat;
}

.unlock_image_2 {
  background-image: url(./images/apacha.png);
  width: 196.04px;
  height: 147.5px;
  background-repeat: no-repeat;
  margin-bottom: -35px;
}

.unlock_df {
  display: flex;
  margin-top: -1170px;
  justify-content: center;
  gap: 200px;
}

.unlock_card_div {
  height: 370px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 20px;
}

.unlock_info {
  width: 447px;
  height: 601px;
}

.unlock_card_div .uncd_c {
  width: 460px;
  color: #ffffff;
  background-color: #abc264;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 65px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: Poppins;
}

.unlock_card_div_info {
  background-color: white;
  width: 387px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 30px;
  margin-top: -40px;
}

.unlock_card_div_info h4 {
  width: 365.44px;
  background-color: #fff9e6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 21px;
  padding-bottom: 17px;
  padding-left: 21px;
  margin-bottom: 20px;
  font-family: Poppins;
}

.art_lines {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 80px;
}

.art_line_circle {
  border: 1px solid #fed758;
  background-color: #fed758;
  border-radius: 50%;
  width: 15.02px;
  height: 14.47px;
}

.art_line_line {
  width: 64.58px;
  height: 2.15px;
  background-color: #fed758;
  border: 1px solid #fed758;
}

.art_line_circle_in_circle {
  border: 1px solid #fed758;
  background-color: #fed758;
  border-radius: 50%;
  width: 27.47px;
  height: 26.47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in_circle {
  border: 1px solid #fed758;
  background-color: white;
  border-radius: 50%;
  width: 8.17px;
  height: 7.87px;
}

.none_color {
  background-color: #cedbe3;
  border: 1px solid #cedbe3;
}

.c_none_color {
  background-color: #cedbe3;
  border: 1px solid #cedbe3;
}

.unlock_lines_informations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 15px;
}

.unlock_lines_info p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.unlock_line_line_2 {
  width: 50.78px;
  height: 7.15px;
  background-color: #e1edf1;
  border-radius: 20px;
}

.ull2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ui_2_unlock span {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.64px;
  color: #793cfb;
  margin-bottom: 30px;
}

.ui_2_unlock h2 {
  font-family: Poppins;
  font-size: 33px;
  font-weight: 700;
  line-height: 36.43px;
  letter-spacing: 0.7200000286102295px;
  color: #221437;
  margin-bottom: 30px;
  span {
    font-family: Poppins;
    font-size: 33px;
    font-weight: 400;
    line-height: 36.43px;
    letter-spacing: 0.7200000286102295px;
    color: #221437;
  }
}

.ui_2_unlock p {
  width: 297px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: #221437;
  margin-bottom: 20px;
}

/* UNLOCK SECTION 2 */
.unlock_sectoin_2 {
  margin-left: 45 0px;
  display: flex;
  margin-top: 100px;
}

.unlock_section_2_info span {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.64px;
  color: #793cfb;
}

.unlock_section_2_info h1 {
  margin-top: 23px;
  margin-bottom: 31px;
  width: 343px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.43px;
  letter-spacing: 0.7200000286102295px;
  color: #221437;
  span {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 36.43px;
    letter-spacing: 0.7200000286102295px;
    color: #221437;
  }
}

.unlock_section_2_info p {
  width: 303px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: #221437;
  margin-bottom: 17px;
}

.unlock_section_2_image {
  margin-top: 170px;
}

/* STATISTIC SECTION */
.statistic_boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-bottom: 200px;
}

.statistic_box_info {
  width: 344px;
}

.statistic_box_info h3 {
  font-family: Roboto;
  font-size: 33px;
  font-weight: 400;
  line-height: 36.43px;
  color: #221437;
  margin-bottom: 40px;
}

.statistic_box_info p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.16px;
  color: #221437;
  span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.16px;
    color: #9fb55d;
  }
}

.statistic_cards {
  display: flex;
  justify-content: space-evenly;
  /*tepparoqqa siljitish uchun*/
  margin-top: -800px;
}

.statistic_card_backimage {
  background-image: url(./images/rasm3.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 846px;
}

.sc_b_image {
  /* background-image: url(./images/rasm2.png); */
  background-repeat: no-repeat;
  width: 1037px;
  height: 979px;
  z-index: 1;
  margin-left: 130px;
}

.card_boxs {
  /*tepaga siljistish uchun*/
  margin-left: 130px;
  margin-top: -780px;
  width: 461.27px;
  height: 349.15px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}

.card_boxs_p {
  background-color: #abc264;
  color: white;
  font-family: Poppins;
  padding-top: 50px;
  padding-bottom: 65px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-wrap: nowrap;
}

.card_in {
  width: 365.44px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: -50px;
}

.card_in p {
  font-family: Poppins;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #000000;
  font-family: Roboto;
  background-color: #fff9e6;
  padding-top: 21px;
  padding-bottom: 17px;
  padding-left: 21px;
}

.diogramma_statistic {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  justify-content: center;
  margin-top: 42px;
}

.diogramma_statistic1 {
  height: 28.9px;
  width: 35.7px;
  background-color: #abc264;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic1_1 {
  width: 35.7px;
  height: 11.9px;
  background-color: #ffdb5d;
  margin-top: 17px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic2 {
  background-color: #abc264;
  width: 35.7px;
  height: 58.65px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic1_2 {
  width: 35.7px;
  height: 38.25px;
  background-color: #ffdb5d;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic3 {
  background-color: #abc264;
  width: 35.7px;
  height: 83.3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic1_3 {
  width: 35.7px;
  height: 45.9px;
  background-color: #ffdb5d;
  margin-top: 37px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic4 {
  background-color: #abc264;
  width: 35.7px;
  height: 93.5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic1_4 {
  width: 35.7px;
  height: 49.3px;
  background-color: #ffdb5d;
  margin-top: 44px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic5 {
  background-color: #abc264;
  width: 35.7px;
  height: 79.05px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic1_5 {
  width: 35.7px;
  height: 7.65px;
  background-color: #ffdb5d;
  margin-top: 71px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic6 {
  background-color: #abc264;
  width: 35.7px;
  height: 103.7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic1_6 {
  width: 35.7px;
  height: 93.5px;
  background-color: #ffdb5d;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic7 {
  background-color: #abc264;
  width: 35.7px;
  height: 58.65px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.diogramma_statistic1_7 {
  width: 35.7px;
  height: 28.9px;
  background-color: #ffdb5d;
  margin-top: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card_in_lines {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 22px;
  padding-bottom: 18px;
}

.card_in_line {
  width: 35.7px;
  height: 8.5px;
  background-color: #cedbe3;
  border-radius: 5px;
}

.lines_grey {
  margin-top: 42px;
  margin-bottom: -145px;
}

.line_grey {
  width: 365px;
  height: 1px;
  margin-bottom: 33px;
  background-color: #e7f1f8;
}

.statistic_card_information {
  margin-left: -530px;
}

.statistic_card_information span {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.64px;
  color: #793cfb;
  margin-bottom: 22px;
}

.statistic_card_information h2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.43px;
  letter-spacing: 0.7200000286102295px;
  width: 296px;
  color: #221437;
  margin-bottom: 16px;
  span {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 36.43px;
    letter-spacing: 0.7200000286102295px;
    color: #221437;
  }
}

.statistic_card_information p {
  font-family: Poppins;
  width: 300px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: #221437;
  margin-bottom: 18px;
}

.statistic_section_last {
  margin-top: 500px;
}

.statistic_section_last span {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.64px;
  color: #793cfb;
}

.statistic_section_last h2 {
  margin-top: 27px;
  width: 220px;
  font-family: Roboto;
  font-size: 33px;
  font-weight: 400;
  line-height: 36.43px;
  color: #221437;
  margin-bottom: 28px;
  span {
    font-family: Roboto;
    font-size: 33px;
    font-weight: 700;
    line-height: 36.43px;
    color: #221437;
  }
}

.statistic_section_last p {
  width: 309px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.2px;
  color: #221437;
  margin-bottom: 19px;
}

.statistic_section_last_mac {
  display: flex;
  gap: 100px;
}

.mac_image_back {
  background-image: url(./images/rasm4.png);
  width: 1037px;
  height: 514px;
  position: relative;
  top: -200px;
  right: 470px;
  z-index: -1;
}

.rasm5 {
  background-image: url(./images/rasm5.png);
  width: 461px;
  height: 377px;
  background-repeat: no-repeat;
  margin-top: -500px;
  margin-left: 400px;
}

.your_hub {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  height: 450px;
  background-color: #ffffff;
}

.your_hub h3 {
  padding-top: 36px;
  text-align: center;
  padding-bottom: 30px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.43px;
  letter-spacing: 0.7200000286102295px;
  margin-bottom: 35px;
}

.your_hub_bos {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 27px;
  padding-right: 27px;
}

.your_hub_box {
  box-shadow: 5px 1px 5px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
}

.your_hub_box .hw {
  color: #e8a8e8;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.your_hub_box p {
  color: #221437;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
}

.lines_hub_box {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 5px;
}

.line_hub_box1 {
  width: 42.89px;
  height: 5.45px;
  background-color: #e1edf1;
  border-radius: 5px;
}

.line_hub_box2 {
  width: 15.6px;
  height: 5.45px;
  background-color: #e1edf1;
  border-radius: 5px;
}

.line_hub_box3 {
  width: 33.53px;
  height: 5.45px;
  background-color: #e1edf1;
  border-radius: 5px;
}

.line_hub_box4 {
  width: 11.7px;
  height: 5.45px;
  background-color: #e1edf1;
  border-radius: 5px;
}

.line_hub_box5 {
  width: 47.57px;
  height: 5.45px;
  background-color: #e1edf1;
  border-radius: 5px;
}

.line_hub_box6 {
  width: 31.97px;
  height: 5.45px;
  background-color: #e1edf1;
  border-radius: 5px;
}

.tipa_btn {
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 15px;
  width: 79.54px;
  height: 27.26px;
  border-radius: 20px;
  background-color: #fed758;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn_line {
    width: 32.75px;
    height: 5.45px;
    border-radius: 20px;
    background-color: #ffffff;
  }
}

/* PRESENT SECTION */
.present_section {
  margin-top: 250px;
  text-align: center;
}

.present_section h1 {
  width: 831px;
  font-family: Roboto;
  font-size: 79px;
  font-weight: 400;
  line-height: 79.2px;
  color: #221437;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;

  span {
    font-family: Roboto;
    font-size: 79px;
    font-weight: 700;
    line-height: 79.2px;
    color: #221437;
  }
}

.present_cards {
  width: 989.36px;
  height: 653.99px;
}

.present_card h4 {
  color: white;
  color: #221437;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
}
